---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/ethereum/?convert=usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"ethereum\", \n        \"name\": \"Ethereum\",
        \n        \"symbol\": \"ETH\", \n        \"rank\": \"2\", \n        \"price_usd\":
        \"846.506\", \n        \"price_btc\": \"0.0986706\", \n        \"24h_volume_usd\":
        \"2201570000.0\", \n        \"market_cap_usd\": \"82610423508.0\", \n        \"available_supply\":
        \"97589885.0\", \n        \"total_supply\": \"97589885.0\", \n        \"max_supply\":
        null, \n        \"percent_change_1h\": \"0.35\", \n        \"percent_change_24h\":
        \"-1.77\", \n        \"percent_change_7d\": \"25.84\", \n        \"last_updated\":
        \"1518529450\"\n    }\n]"
  recorded_at: Tue, 13 Feb 2018 13:49:26 GMT
recorded_with: VCR 3.0.3
