---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/ethereum/?convert=gbp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"ethereum\", \n        \"name\": \"Ethereum\",
        \n        \"symbol\": \"ETH\", \n        \"rank\": \"2\", \n        \"price_usd\":
        \"808.738\", \n        \"price_btc\": \"0.0980554\", \n        \"24h_volume_usd\":
        \"3893670000.0\", \n        \"market_cap_usd\": \"78847984753.0\", \n        \"available_supply\":
        \"97495091.0\", \n        \"total_supply\": \"97495091.0\", \n        \"max_supply\":
        null, \n        \"percent_change_1h\": \"-0.39\", \n        \"percent_change_24h\":
        \"-0.2\", \n        \"percent_change_7d\": \"-20.59\", \n        \"last_updated\":
        \"1518127153\", \n        \"price_gbp\": \"580.697337402\", \n        \"24h_volume_gbp\":
        \"2795767976.43\", \n        \"market_cap_gbp\": \"56615139644.0\"\n    }\n]"
  recorded_at: Thu, 08 Feb 2018 22:03:59 GMT
recorded_with: VCR 3.0.3
