---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/coins/markets?per_page=12&vs_currency=gbp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"caf018d83372ef7dfc24d51089b42a6a"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"bitcoin","symbol":"btc","name":"Bitcoin","image":"https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1547033579","current_price":21914,"market_cap":424193484725,"market_cap_rank":1,"fully_diluted_valuation":460226193227,"total_volume":11676937521,"high_24h":22263,"low_24h":21812,"price_change_24h":-99.70744916713011,"price_change_percentage_24h":-0.45294,"market_cap_change_24h":-1047271907.5463867,"market_cap_change_percentage_24h":-0.24628,"circulating_supply":19355837.0,"total_supply":21000000.0,"max_supply":21000000.0,"ath":51032,"ath_change_percentage":-57.05552,"ath_date":"2021-11-10T14:24:11.849Z","atl":43.9,"atl_change_percentage":49818.7669,"atl_date":"2013-07-05T00:00:00.000Z","roi":null,"last_updated":"2023-04-25T10:09:08.860Z"},{"id":"ethereum","symbol":"eth","name":"Ethereum","image":"https://assets.coingecko.com/coins/images/279/large/ethereum.png?1595348880","current_price":1456.68,"market_cap":175245757214,"market_cap_rank":2,"fully_diluted_valuation":175245757214,"total_volume":7034693552,"high_24h":1503.16,"low_24h":1452.08,"price_change_24h":-27.938096328897927,"price_change_percentage_24h":-1.88183,"market_cap_change_24h":-2990568008.3936157,"market_cap_change_percentage_24h":-1.67787,"circulating_supply":120406936.078253,"total_supply":120406936.078253,"max_supply":null,"ath":3610.11,"ath_change_percentage":-59.6841,"ath_date":"2021-11-12T02:17:36.494Z","atl":0.280314,"atl_change_percentage":519120.22269,"atl_date":"2015-10-20T00:00:00.000Z","roi":{"times":87.87060976528656,"currency":"btc","percentage":8787.060976528655},"last_updated":"2023-04-25T10:09:07.016Z"},{"id":"tether","symbol":"usdt","name":"Tether","image":"https://assets.coingecko.com/coins/images/325/large/Tether.png?1668148663","current_price":0.802255,"market_cap":65422959842,"market_cap_rank":3,"fully_diluted_valuation":65422959842,"total_volume":17281660026,"high_24h":0.807975,"low_24h":0.799799,"price_change_24h":-0.00282656664396086,"price_change_percentage_24h":-0.35109,"market_cap_change_24h":-105672542.17675018,"market_ca[...]
