---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/coins/markets?ids=ethereum&vs_currency=gbp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1fd3dc8d8df7a370d56cf8b449394fa3"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ethereum","symbol":"eth","name":"Ethereum","image":"https://assets.coingecko.com/coins/images/279/large/ethereum.png?1595348880","current_price":1456.68,"market_cap":175245757214,"market_cap_rank":2,"fully_diluted_valuation":175245757214,"total_volume":7033743474,"high_24h":1503.16,"low_24h":1452.08,"price_change_24h":-27.944069580431233,"price_change_percentage_24h":-1.88223,"market_cap_change_24h":-2990568008.3936157,"market_cap_change_percentage_24h":-1.67787,"circulating_supply":120406936.078253,"total_supply":120406936.078253,"max_supply":null,"ath":3610.11,"ath_change_percentage":-59.6841,"ath_date":"2021-11-12T02:17:36.494Z","atl":0.280314,"atl_change_percentage":519120.22269,"atl_date":"2015-10-20T00:00:00.000Z","roi":{"times":87.869542130822,"currency":"btc","percentage":8786.954213082201},"last_updated":"2023-04-25T10:08:25.548Z"}]'
  recorded_at: Tue, 25 Apr 2023 10:09:15 GMT
recorded_with: VCR 5.0.0
