---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/?convert=gbp&limit=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"8311.29\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"6546460000.0\", \n        \"market_cap_usd\": \"140118060023\", \n        \"available_supply\":
        \"16858762.0\", \n        \"total_supply\": \"16858762.0\", \n        \"max_supply\":
        \"21000000.0\", \n        \"percent_change_1h\": \"0.49\", \n        \"percent_change_24h\":
        \"-1.85\", \n        \"percent_change_7d\": \"-1.51\", \n        \"last_updated\":
        \"1518374966\", \n        \"price_gbp\": \"6008.231541\", \n        \"24h_volume_gbp\":
        \"4732435934.0\", \n        \"market_cap_gbp\": \"101291345591\"\n    }, \n
        \   {\n        \"id\": \"ethereum\", \n        \"name\": \"Ethereum\", \n
        \       \"symbol\": \"ETH\", \n        \"rank\": \"2\", \n        \"price_usd\":
        \"834.104\", \n        \"price_btc\": \"0.100666\", \n        \"24h_volume_usd\":
        \"2630610000.0\", \n        \"market_cap_usd\": \"81369700572.0\", \n        \"available_supply\":
        \"97553423.0\", \n        \"total_supply\": \"97553423.0\", \n        \"max_supply\":
        n[...]
